body {
  font-family: "Segoe UI";
  background-color: #1d4a58;
  margin: 0;
}

input {
  border: none;
  background: #F4E9DE;
  color: #4D463E;
  width: 600px;
  height: 60px;
  align-items: center;
}

input::placeholder{
  text-align: center;
}

div.search-compare {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}
.search-block {
  display: flex;
  flex-direction: row;
  padding-left: 700px;
}

.compare-button {
  align-self: center;
  justify-content: center;
  padding-left: 50px;
  padding-top: 60px;
}

button {
  width: 150px;
  height: 50px;
  border: none;
  background: #fce5cc;
  color: #988979;
  font-size: medium;
}

ul {
  list-style-type: none;
}

img.card {
  height: 300px;
}

.compare {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

div.card {
  margin-top: 50px;
  background-color: #fce5cc;
  width: 950px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.a {
  display: flex;
  justify-content: center;
  
}