:root {
    /* Основные цвета */
    --color-coffee: #FCE5CC;
    --color-green: #1D4A58;
    --color-black: #000000;
    --color-soft_blue: #CBE4E8;
    --color-soft_white: #F4E9DE;  /* цвет для поиска */
}