:root {
    /* Основные цвета */
    --color-coffee: #FCE5CC;
    --color-green: #1D4A58;
    --color-black: #000000;
    --color-soft_blue: #CBE4E8;
    --color-for_compare_search: #f4e9de;;  /* цвет для поиска */
}