header {
  background-color: #fce5cc;
  padding: 30px;
  position: sticky;
  top: 0;
  z-index: 1000;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.header-link {
  color: #1d4a58;
  font-size: 18px;
  border-radius: 4px;
  text-decoration: none;
}
.header-link:hover {
  text-decoration: underline;
}
.header-section {
  display: flex;
}

.logo {
  font-size: 50px;
  text-decoration: none;
  font-weight: bold;
}
